*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main{
  height: calc(100vh - 100px);
  background-color:#000000;
  overflow: auto;
}

.flex{
  display: flex;
}

.container{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 95%;
  margin: 0 auto;
  height: 100%;
}

.window{
  width: 240px;
  height: 165px;
  background-color: red;
  position: relative;
  margin: 10px 5px 3px 5px;
}

.name-mic{
  color: white;
  padding: 2px 3px;
  background-color: #505f6d73;
  width: 45%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

/* footer */


footer{
  height: 100px;
  background-color:yellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #222222;
  font-size: 2rem;
}

/* icone */
.icons{
  height: 80%;
  width: 100%;
}

.media{
  flex-wrap: wrap;
  width: 15%;
}

.media div:hover{
  color: #4bc800;
}

.media div{
  cursor: pointer;
  padding-right: 20px;
  padding-left: 10px;
} 

.media span{
  padding-left: 10px;
  font-size: 1rem;
}

.action{
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
}

.action div{
  cursor: pointer;
}

.action div:hover{
  color: #4bc800;
}


.action .active{
  color: #4bc800;
}

footer #chevron{
  font-size: 1.2rem;
}

.caption#chevron{
  justify-content: center;
}

.action .caption{
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action span{
  font-size: 1.2rem;
}

.end{
  height: 100%;
  width: 15%;
  justify-content: flex-end;
}

.end button{
  cursor: pointer;
  padding: 10px 30px;
  color: red;
  background-color: #4a4a4a;
  border: transparent;
}
